Hello everyone,

We will release {{ .Config.Project.Name }} v{{ .Release.Version }} soon.

{{ .Release.Changes.Summary }}

<blockquote>
<h1>Changelog</h1>

{{ range $header, $body := .Release.Changes.Changes }}
<h2>{{ $header }}</h2>

{{ $body }}

{{ end }}
</blockquote>

<a href="{{ .Release.ChecklistUrl }}">Release checklist</a>

<p>
Best regards,
</p>
Merchant Connectivity Team
